.top-padding {
    padding-top: 30px;
}

body {
    background-image: url(/resources/image/bg.jpg);
    -webkit-font-kerning: auto;
    -webkit-font-smoothing: antialiased;
    -webkit-backface-visibility: visible !important;
    position: relative;
    overflow-x: hidden;
    opacity: 0.9;
}